<div class="menu">

    <p class="description">Con <b><i>Shared</i></b> puedes tener una lista compartida de transacciones para equilibrar gastos entre un grupo de amigos.</p>

    <div class="options">
        <div class="friend">
            <a routerLink="friend" class="link">Miembros</a>
            <img src="./assets/friend.png" class="img-friend">
        </div>

        <div class="addexpense">
            <a routerLink="addexpense" class="link">Añadir Gasto</a>
            <img src="./assets/expense.png" class="img-expense">
        </div>

        <div class="balance">
            <a routerLink="balance" class="link">Consultar Balance</a>
            <img src="./assets/balance.png" class="img-balance">
        </div>
    </div>

</div>
