:host{
    height: 20%;
    width: 90%;
}

.menu{
    margin: auto;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;;
}

.description{
    text-align: justify;
}

.options {
    margin-top: 3vh;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

}

.friend, .addexpense, .balance, .viewexpense{
    display: flex;
    align-items: center;
    width: inherit;
    gap: 0.5rem;
}

img {
    width: 5vh;
}