
:host{
    height: 100%;
}

.footer {
    background-color: var(--color-crean);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.2vh;
}

.left p {
    margin-top: 1rem;
  }


.vertical-line{
    border-left: 4px solid darkslateblue;
    height: 6rem;

}

.autentia{
    width: 13vh;
    height: auto;
}
