:host{
  height: 70%;
  width: 40%;
}

.container {
  height: inherit;
  width: inherit;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2vh;

}

select {
    appearance: none;
    width: 100%;
    padding: 1rem 4rem 1rem 1rem;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    border-radius: 0.25em;
    box-shadow: 0 0 20px var(--color-dark-gray);
    cursor: pointer;
}

.data{
    margin-top: 1vh;
    display: block;
    align-items: center;
    justify-content: center;
    
}

.description, .amount{
  width: 100%;
  padding: 1vh;
  margin-top: 1vh;
}

.description{
  resize: none;
}


button{
  text-align: center;
  width: 6rem;
  margin-top: 2vh;
  font-weight: bold;
  color: var(--color-dark-blue);
  background: var(--color-light-lilac);
  box-shadow: 0 0 20px var(--color-light-gray);
  border-radius: 0.25em;
  border: 0;
  padding: 2%;
}

button:hover {
	background-color: var(--color-darker-lilac);
  }
