<div class="container">
    <select>
        <option selected value="0">SELECCIONA UN MIEMBRO</option>
        <option value="1">Miembro 1</option>
        <option value="2">Miembro 2</option>
        <option value="3">Miembro 3</option>
        <option value="4">Miembro 4</option>
        <option value="5">Miembro 5</option>
    </select>

    <div class="data">
        <textarea class="description" placeholder="Descripción del gasto" rows="8"></textarea>
        <input type="text" class="amount" placeholder="Cantidad €">
      </div>

      <button type="button" class="send">Aceptar</button>
</div>