:host{
    height: 100%;
}

.header{
    background-color: var(--color-dark-blue);
    height: inherit; /*hereda el height de :host*/
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.title{
    letter-spacing: 35px;
    font-size: 5vh;
    color: var(--color-white);
}

.logo{
    width: 8vh;
    height: auto;
}

