<head>
	<link rel="stylesheet" href="friend.mediaqueries.css">
  </head>

<div class="container">

	<table>
		<thead>
		  <tr>
			<th>Miembros</th>
			<th>Acciones</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let friend of friends">
			<td>{{ friend.name }}</td>
			<td>
				<button class="delete-icon" (click)="deleteConfirmation(friend)">
					<img src="./assets/delete.ico">
				</button>
				  <button class="update-icon" (click)="openUpdateDialog(friend)">
					<img src="./assets/update.ico">
				</button>
			  </td>
		  </tr>
		</tbody>
	  </table>

	<div class="bottom">
		<div class="left">
			<button class="setVisibilityTrue" (click)="showInputMethod()">+</button>
			<p>Añadir Amigo</p>
		</div>

		<div class="right">
			<input type="text" [(ngModel)]="inputName" [hidden]="!showInputName" placeholder="Nombre">
			<button class="add" (click)="addFriend()" [hidden]="!showInputAdd">Añadir</button>
		</div>
	</div>
</div>

@if (this.showDialog) {
	<app-update-friend (updateEvent)="update($event)" (cancelEvent)="toggleShowDialog()" [basedName]="this.friendToEdit.name"></app-update-friend>
}


