:host{
    height: 70%;
    width: 40%;
}


.container {
	height: inherit;
    width: inherit;
	align-items: center;
    justify-content: center;
	margin: auto;
	margin-top: 2vh;;
}

table {
	width: 80vh;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px var(--color-dark-gray);

}

th, td{
	padding: 15px;
    text-align: center;
}

th{
    background-color: var(--color-dark-blue);
	color: var(--color-white);
    letter-spacing: 10px;
}

td {
	background-color: var(--color-white);
	color: var(--color-dark-blue);
}

.bottom {
	width: 78vh;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
  }

.left, .right{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.setVisibilityTrue {
	width: 4vh;
	height: 4vh;
	border-radius: 50%;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
	font-size: 20px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
.setVisibilityTrue:hover {
	background-color: var(--color-dark-gray);
}


.add{
	text-align: center;
	color: var(--color-dark-blue);
	background: var(--color-light-lilac);
	box-shadow: 0 0 20px var(--color-light-gray);
	border-radius: 0.25em;
	border: 0;
	padding: 3%;
}

.add:hover {
	background-color: var(--color-darker-lilac);;
}


tbody tr button {
	background-color: transparent;
	border: none; 
	cursor: pointer;
	padding: 5px;
}

img{
	width: 1.5rem;
}



